body {
    background: radial-gradient(navy, black) ;
    color: white;
    text-align: center;
    height: 85vh;
    display: grid;
    place-items: center;
}
#backend {
scale: 1,5;
}

main {
    background: black;
    border: 4px double;
    border-radius: 50%;
    color: pink;
    width: 200px;
    height: 200px;
    place-items: center;
    display: grid;
    animation: rota 30s infinite;
}

@keyframes rota {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}